@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background:black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 73px;

}
.hero-img{
  animation: slideInRight 1.5s ease-out forwards;
}
.hero-text{
  animation: slideInLeft 1.5s ease-out forwards;
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}